<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ5b90qpvoQ_1735ph5Mz27Qk11YsyESI</string>
	<key>GCM_SENDER_ID</key>
	<string>582466235891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textreading</string>
	<key>PROJECT_ID</key>
	<string>text-extractor-b5b2c</string>
	<key>STORAGE_BUCKET</key>
	<string>text-extractor-b5b2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582466235891:ios:0f9b06f78b8c588fe77686</string>
</dict>
</plist>